<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <handlers>
      <add name="Task1Handler" path="/BVD/Task1" verb="GET" type="LAB_1.Handlers.Task1"/>
      <add name="Task2Handler" path="/BVD/Task2" verb="POST" type="LAB_1.Handlers.Task2"/>
      <add name="Task3Handler" path="/BVD/Task3" verb="PUT" type="LAB_1.Handlers.Task3"/>
	    <add name="Task4Handler" path="/BVD/sum" verb="GET POST" type="LAB_1.Handlers.Task4"/>
	    <add name="Task5Handler" path="/BVD/mult1" verb="GET POST" type="LAB_1.Handlers.Task5"/>
		<add name="Task6Handler" path="/BVD/mult2" verb="GET POST" type="LAB_1.Handlers.Task6"/>
    </handlers>
  </system.webServer>
</configuration>